footer{
    display: flex;
    text-align: center;
    justify-content: space-around;
    min-height: 20vh;
    margin: 1rem;
    border-top: solid 3px white;
}
h3{
    font-size: 1.4rem;
    text-decoration-line: underline;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
.contac{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    text-decoration: none;
    margin: .5rem;
}
.up{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 7%;
}
a{
    height: 55px;
}
h4{
    font-size: 2.5rem;
}
@media screen and (max-width: 768px){
    footer{
        flex-direction: column;
    }
}